extends layout

block content
    
    br
    br
    
    .div(id='enterChatWrapper')
        
        p Please enter the chatroom using the form below
        br
        
        form.form-inline(method='post', id='enterChatForm', action='')
            .form-group
                label Username: &nbsp;
                input.form-control(type='text', name='username')
            &nbsp;&nbsp;
            button.btn.btn-info(type='submit') Enter Room

    .div(id='mainWrapper')
        .row
            .col-md-8.chatWrapper
                .chatWindow
                form.form-inline(style='width:100%', method='post', id='chatForm', action='')
                    .form-group
                        input.form-control(style='width:650px', type='text', id='msg', name='msg', placeholder='Type here...')
                    &nbsp;&nbsp;
                    button.btn.btn-info(type='submit') Send
                br
            .col-md-3.col-md-offset-1.usersWrapper
            