body {
    margin-top: 50px;
    background: #f9f9f9;
}

#mainDiv {
    display: none;    
}

#chatDiv {
    border: 1px solid #ccc;
    border-radius: 10px;
    background: #f4f4f4;
}

#chatWindowDiv {
    height: 400px;
}

#usersDiv {
    border: 1px solid #ccc;
    border-radius: 10px;
    background: #f4f4f4;
    min-height: 300px;
    max-height: 300px;
}

#usersTable {
    width: 100%;
    height: 300px;  
    display: block;
    overflow: scroll;
}