html {
    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;
}

body {
    margin-top: 50px;
    background: #f9f9f9;
}

#mainDiv {}

#chatDiv {
    border: 1px solid #ccc;
    border-radius: 10px;
    background: #f4f4f4;
    padding-top: 20px;
}

#chatWindowDiv {
    height: 400px;
}

#chatMsgTextBox {
    line-height: 4em;
    border-radius: 10px;
    border: 1px solid #4cae4c;
    padding-left: 20px;
}

#chatMsgTextBox:focus {
    outline: none;
}

#usersDiv {
    border: 1px solid #ccc;
    border-radius: 10px;
    background: #f4f4f4;
    min-height: 300px;
    max-height: 300px;
}

#usersList {
    margin: 20px 0;
    list-style: none;
    padding-left: 10px;
    height: 250px;
    overflow-y: scroll;
    line-height: 25px;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .2);
}